html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 40px;
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.page-header {
  height: 773px;
  background-image: /*url("../img/pattern.png") ,*/url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1200px 800px;
  outline: 1px solid red;
}

.main-menu {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: white;
  outline: 1px solid green;
}

.main-menu img {
  position: absolute;
  right: 50%;
}

.main-menu a {
  padding: 15px;
  color: black;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
